@font-face {
	font-family: 'PTSansCaption';
	src: url(fonts/PTSans-Caption.woff2) format('woff2'), url(fonts/PTSansCaption-Regular.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PTSansCaption';
	src: url(fonts/PTSans-CaptionBold.woff2) format('woff2'), url(fonts/PTSansCaption-Bold.woff) format('woff');
	font-weight: 700;
	font-style: normal;
}